extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="/img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                 h1= pagina
                 blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam purus eros, suscipit in libero vitae, convallis lacinia ipsum. Suspendisse vestibulum pretium ex nec tincidunt. Vivamus ornare enim tincidunt, elementum eros et, molestie turpis. Aenean luctus porta suscipit. Pellentesque ipsum neque, condimentum consequat dui vel, bibendum faucibus elit. Donec non massa lobortis lorem tempor blandit. Aliquam sed ex feugiat, convallis lectus quis, facilisis elit. Pellentesque dignissim tincidunt purus eget volutpat.

                 p Integer nec euismod justo, a fermentum diam. Praesent consectetur, ante vitae dictum facilisis, urna turpis condimentum justo, eu euismod augue orci et enim. Maecenas pretium posuere libero, non suscipit nisi facilisis et. Quisque lacinia mattis imperdiet. Nam sem est, dignissim ut ornare ut, rhoncus non neque. Quisque ultrices dapibus tincidunt. Ut pulvinar at velit id pretium. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

                 p Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Praesent est libero, pulvinar ut velit a, placerat faucibus tortor. Nam nisi ante, ultrices eget felis vitae, sagittis imperdiet leo. Pellentesque eu urna vel ipsum ornare suscipit faucibus vitae quam. Donec nisi libero, euismod auctor bibendum a, hendrerit vitae justo. Sed elementum lectus eu vehicula egestas. Aenean sagittis vestibulum fringilla.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="incono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Pellentesque eu urna vel ipsum ornare suscipit faucibus vitae quam. Donec nisi libero, euismod auctor bibendum a, hendrerit vitae justo. Sed elementum lectus eu vehicula egestas. Aenean sagittis vestibulum fringilla.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="incono destino", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos 
                    p Pellentesque eu urna vel ipsum ornare suscipit faucibus vitae quam. Donec nisi libero, euismod auctor bibendum a, hendrerit vitae justo. Sed elementum lectus eu vehicula egestas. Aenean sagittis vestibulum fringilla.
                .col-md-4
                    img(src="img/icono_precio.svg", alt="incono precios", class="img-fluid mb-4")
                    h2.mb-4 Precios mas bajos 
                    p Pellentesque eu urna vel ipsum ornare suscipit faucibus vitae quam. Donec nisi libero, euismod auctor bibendum a, hendrerit vitae justo. Sed elementum lectus eu vehicula egestas. Aenean sagittis vestibulum fringilla.